# Disable framebuffer and splash features
CONFIG_SYS_CONSOLE_INFO_QUIET=y
CONFIG_SYS_DEVICE_NULLDEV=y
CONFIG_SILENT_CONSOLE=y
CONFIG_LOGLEVEL=0
CONFIG_BOOTDELAY=0
CONFIG_SPLASH_SCREEN=y
CONFIG_SPLASH_SCREEN_ALIGN=y
CONFIG_BMP_16BPP=y
CONFIG_BMP_24BPP=y
CONFIG_BMP_32BPP=y
CONFIG_CMD_BMP=y
CONFIG_VIDEO=y
CONFIG_SYS_VIDEO_LOGO_MAX_SIZE=3145728
CONFIG_VIDEO_BCM2835=y
CONFIG_SYS_WHITE_ON_BLACK=y
